<div class="bg-white-light py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="mt-2 color-blue text-4xl font-semibold tracking-tight text-pretty sm:text-5xl lg:text-balance section-line-full">Mes services</h2>
      <p class="mt-6 text-lg/8 color-grey-dark">
      Découvrez mes domaines d'expertise et les solutions que je peux vous apporter :</p>
    </div>
    <div class="mx-auto mt-12 max-w-2xl lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-8">

        @for (pillar of pillars; track pillar.id) {
          <div class="bg-blue-very-light rounded-2xl p-6">
            <!-- Ligne icône + nom -->
            <div class="flex items-center gap-3">
              <div class="flex size-10 items-center justify-center rounded-lg icons bg-blue text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 color-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              </div>
              <dt class="text-lg font-semibold italic text-blue-dark">{{ pillar.name }}</dt>
            </div>
            <dd class="pl-13 mt-2 text-base text-grey-dark">
              {{ pillar.description }}
            </dd>
          </div>
        }

      </dl>
    </div>
  </div>
</div>

