<section class="w-full relative overflow-hidden lg:py-14 py-8">
  <div class="px-12 xl:px-20">
    <div class="flex flex-col md:flex-row w-full gap-8">
      <div class="w-full md:max-w-[176px] md:border-r md:border-gray-200">
        <ul
          class="tab-nav flex flex-col md:items-start items-center lg:gap-10 gap-6"
        >
          <li>
            <p class="font-medium text-base leading-7 text-indigo-600">
              Mentions légales
            </p>
          </li>
          <li>
            <a
              class="font-medium text-base leading-7 text-gray-500 hover:text-indigo-600"
              >Edition du site</a
            >
          </li>
          <li>
            <a
              class="font-medium text-base leading-7 text-gray-500 hover:text-indigo-600"
              >Informations professionnelles</a
            >
          </li>
          <li>
            <a
              class="font-medium text-base leading-7 text-gray-500 hover:text-indigo-600"
              >Hébergement du site</a
            >
          </li>
          <li>
            <a
              class="font-medium text-base leading-7 text-gray-500 hover:text-indigo-600"
              >Nous contacter</a
            >
          </li>
          <li>
            <a
              class="font-medium text-base leading-7 text-gray-500 hover:text-indigo-600"
              >Propriété intellectuelle et contrefaçons</a
            >
          </li>
          <li>
            <a
              class="font-medium text-base leading-7 text-gray-500 hover:text-indigo-600"
              >Données personnelles</a
            >
          </li>
          <li>
            <a
              class="font-medium text-base leading-7 text-gray-500 hover:text-indigo-600"
              >Droit applicable et attribution de juridiction</a
            >
          </li>
        </ul>
      </div>
      <div class="w-full tab-pane max-md:px-4">
        <h2
          class="font-manrope font-bold lg:text-4xl text-3xl text-gray-900 mb-5"
        >
          Mentions légales
        </h2>
        <div class="flex items-center gap-3 lg:mb-10 mb-8">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.0054 8V12.5322C12.0054 12.8286 12.1369 13.1098 12.3645 13.2998L15 15.5M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22Z"
              stroke="#4F46E5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <p class="font-medium text-xl leading-8 text-indigo-600">
            Dernière mise à jour : 12 Juin 2025
          </p>
        </div>
        <p class="font-normal text-base leading-6 text-gray-500 lg:mb-10 mb-8">
          Conformément aux dispositions de la
          <a
            href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000801164"
            class="visible-link"
            target="_blank"
            rel="noopener noreferrer"
            >loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie
            numérique</a
          >
          , il est précisé aux utilisateurs du site l'identité des différents
          intervenants dans le cadre de sa réalisation et de son suivi.
        </p>

        <ul
          class="flex flex-col ml-8 gap-10 list-outside list-decimal font-manrope font-bold text-2xl"
        >
          <li id="01" class="list-decimal">
            <h2
              id="site-edition"
              class="font-manrope font-bold text-xl lg:text-2xl text-gray-900 mb-2"
            >
              Edition du site
            </h2>
            <p class="font-normal text-base leading-6 text-gray-500">
              Le présent site, accessible à l’URL https://xxxxxxxxxxx (le « Site
              »), est édité par :
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Julien POUDRAS
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Conseiller en Gestion de Patrimoine
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Adresse professionnelle communiquée sur demande
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              92190 MEUDON
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Directeur de la publication : Julien POUDRAS
            </p>
          </li>
          <li id="02" class="list-decimal">
            <h2
              class="font-manrope font-bold text-xl lg:text-2xl text-gray-900 mb-2"
            >
              Informations professionnelles
            </h2>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Statut : </span>Mandataire de Stellium
              Investissement, Stellium Courtage, Stellium Immobilier
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Numéro RSAC : </span>908 219 108
              (Nanterre)
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Numéro ORIAS : </span>22001454
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Activités : </span>Mandataire
              d'intermédiaire en assurances, Intermédiaire en opérations de
              banque et de services de paiement
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Autorité de contrôle : </span>ACPR
              (Autorité de Contrôle Prudentiel et de Résolution)
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              4 Place de Budapest - 75436 PARIS Cedex 09
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold"
                >Assurance Responsabilité Civile Professionnelle : </span
              >ZURICH INSURANCE PLC
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              112, avenue de Wagram 75017 PARIS
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Attestation d'habilitation : </span>CCI de
              Toulouse
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Numéro unique d'immatriculation : 384 850 095
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Membre de : </span>ANACOFI (association
              agréée par l'AMF)
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Vérification des informations sur :
              <a
                href="https://orias.fr/"
                class="visible-link"
                target="_blank"
                rel="noopener noreferrer"
                >www.orias.fr</a
              >
            </p>
          </li>
          <li id="03" class="list-decimal">
            <h2
              class="font-manrope font-bold text-xl lg:text-2xl text-gray-900 mb-2"
            >
              Hébergement du site
            </h2>
            <p class="font-normal text-base leading-6 text-gray-500">
              Le Site est hébergé par la société :
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Vercel Inc.
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              440 N Barranca Avenue #4133
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Covina, CA 91723
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              United States
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              +1 559-288-7060
            </p>
          </li>
          <li id="04" class="list-decimal">
            <h2
              class="font-manrope font-bold text-xl lg:text-2xl text-gray-900 mb-2"
            >
              Nous contacter
            </h2>
            <p class="font-normal text-base leading-6 text-gray-500">
              Contact : Sur rendez-vous uniquement
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Par email :
              <a href="mailto:julien.poudras@outlook.fr" class="visible-link"
                >julien.poudras&#64;outlook.fr</a
              >
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Par courrier : Adresse communiquée sur demande - 92190 MEUDON
            </p>
          </li>
          <li id="05" class="list-decimal">
            <h2
              class="font-manrope font-bold text-xl lg:text-2xl text-gray-900 mb-2"
            >
              Propriété intellectuelle et contrefaçons
            </h2>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Développement du site : </span>Ghislaine
              AYBRAM
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              <span class="font-bold">Propriétaire du contenu : </span>Julien
              POUDRAS
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Julien POUDRAS est propriétaire des droits de propriété
              intellectuelle sur le contenu du site (textes, données,
              informations métier). Ghislaine AYBRAM détient les droits sur le
              développement technique du site.
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Toute reproduction, représentation, modification, publication,
              adaptation de tout ou partie des éléments du site, quel que soit
              le moyen ou le procédé utilisé, est interdite, sauf autorisation
              écrite préalable des ayants droit respectifs.
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Toute exploitation non autorisée du site ou de l’un quelconque des
              éléments qu’il contient sera considérée comme constitutive d’une
              contrefaçon et poursuivie conformément aux dispositions des
              articles
              <a
                href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000032655082"
                class="visible-link"
                target="_blank"
                rel="noopener noreferrer"
                >L.335-2 et suivants du Code de Propriété Intellectuelle</a
              >.
            </p>
          </li>
          <li id="06" class="list-decimal">
            <h2
              class="font-manrope font-bold text-xl lg:text-2xl text-gray-900 mb-2"
            >
              Données personnelles
            </h2>
            <p class="font-normal text-base leading-6 text-gray-500">
              Conformément au
              <a
                href="https://www.legifrance.gouv.fr/codes/section_lc/JORFTEXT000000886460/LEGISCTA000037804929/"
                class="visible-link"
                target="_blank"
                rel="noopener noreferrer"
                >Règlement Général sur la Protection des Données 2016/679 du 27
                avril 2016 («RGPD»)</a
              >, l’utilisateur du Site dispose d'un droit d'accès, de
              rectification, d'effacement, de portabilité et de limitation du
              traitement des informations collectées.
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Pour exercer ces droits ou pour toute question relative au
              traitement de vos données personnelles, contactez-nous à :
              <a href="mailto:julien.poudras@outlook.fr" class="visible-link"
                >julien.poudras&#64;outlook.fr</a
              >
            </p>
            <p class="font-normal text-base leading-6 text-gray-500">
              Pour plus d'informations sur la façon dont nous traitons vos
              données (type de données, finalité, destinataire...), consultez
              notre Politique de confidentialité.
            </p>
          </li>
          <li id="07" class="list-decimal">
            <h2
              class="font-manrope font-bold text-xl lg:text-2xl text-gray-900 mb-2"
            >
              Droit applicable et attribution de juridiction
            </h2>
            <p class="font-normal text-base leading-6 text-gray-500">
              Tout litige en relation avec l’utilisation du Site est soumis au
              droit français. En dehors des cas où la loi ne le permet pas, il
              est fait attribution exclusive de juridiction aux tribunaux
              compétents de NANTERRE.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
