<div class="mx-auto py-16 sm:py-24 lg:py-56 bg-blue-very-light">
    <div class="text-center">
        <h1 class="text-5xl color-blue-dark font-semibold tracking-tight text-balance sm:text-7xl">Merci pour votre message !</h1>
        <p class="mt-8 text-lg font-medium text-pretty color-grey-dark sm:text-xl/8">J'ai bien reçu vos informations et je vous recontacterai dans les plus brefs délais.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/">      
            <button
                class="w-full font-medium px-3.5 py-2.5 text-center text-base font-semibold button-info">
                Retour vers l'accueil →
            </button>
          </a>
        </div>
    </div>
</div>