<div class="bg-white py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-4xl font-semibold tracking-tight text-pretty sm:text-5xl section-line"
      >
        Actualités
      </h2>
      <h4 class="mt-8 text-lg/8 color-grey-dark">
        Retrouvez dans cette section les modifications de lois
      </h4>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <article *ngFor="let article of articles" class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex flex-col w-full h-[400px] bg-white shadow-sm border border-slate-200 rounded-lg overflow-hidden">
          <div class="flex flex-col justify-between flex-1 p-6">
            <div class="flex justify-between items-center mb-4">
              <div
                class="rounded-full theme-icon py-0.5 px-2.5 border border-transparent text-xs shadow-sm w-20 text-center"
              >
                {{ article.theme }}
              </div>
              <time [attr.datetime]="article.date.toISOString()" class="color-grey-dark text-sm">
                {{ article.date | date:'d MMMM yyyy' }}
              </time>
            </div>
            <h4 class="mb-2 text-slate-800 text-xl font-semibold">
              {{ article.title }}
            </h4>
            <p class="line-clamp-6 mb-8 text-slate-600 leading-normal font-light">
              {{ article.text }}
            </p>
            <div>
              <a
                href="#"
                class="text-slate-800 font-semibold text-sm hover:underline flex items-center"
              >
                Learn More
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="ml-2 h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </article>

    </div>
  </div>
</div>
