<div class="bg-white py-12 sm:py-16">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2
        class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
      >
        Actualités
      </h2>
      <p class="mt-2 text-lg/8 text-gray-600">
        Retrouvez dans cette section les modifications de lois
      </p>
    </div>
    <div
      class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div
          class="relative flex flex-col md:flex-row w-full bg-white shadow-sm border border-slate-200 rounded-lg w-96"
        >
          <div class="p-6">
            <div class="flex justify-between items-center mb-4">
              <div
                class="rounded-full bg-teal-600 py-0.5 px-2.5 border border-transparent text-xs text-white shadow-sm w-20 text-center"
              >
                SCPI
              </div>
              <time datetime="2020-03-16" class="text-gray-500 text-sm">
                Mar 16, 2020
              </time>
            </div>
            <h4 class="mb-2 text-slate-800 text-xl font-semibold">
              Lyft launching cross-platform service this week
            </h4>
            <p class="mb-8 text-slate-600 leading-normal font-light">
              Like so many organizations these days, Autodesk is a company in
              transition. It was until recently a traditional boxed software
              company selling licenses. Yet its own business model disruption is
              only part of the story
            </p>
            <div>
              <a
                href="#"
                class="text-slate-800 font-semibold text-sm hover:underline flex items-center"
              >
                Learn More
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="ml-2 h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div
          class="relative flex flex-col md:flex-row w-full bg-white shadow-sm border border-slate-200 rounded-lg w-96"
        >
          <div class="p-6">
            <div class="flex justify-between items-center mb-4">
              <div
                class="rounded-full bg-teal-600 py-0.5 px-2.5 border border-transparent text-xs text-white shadow-sm w-20 text-center"
              >
                SCPI
              </div>
              <time datetime="2020-03-16" class="text-gray-500 text-sm">
                Mar 16, 2020
              </time>
            </div>
            <h4 class="mb-2 text-slate-800 text-xl font-semibold">
              Lyft launching cross-platform service this week
            </h4>
            <p class="mb-8 text-slate-600 leading-normal font-light">
              Like so many organizations these days, Autodesk is a company in
              transition. It was until recently a traditional boxed software
              company selling licenses. Yet its own business model disruption is
              only part of the story
            </p>
            <div>
              <a
                href="#"
                class="text-slate-800 font-semibold text-sm hover:underline flex items-center"
              >
                Learn More
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="ml-2 h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </article>

      <!-- More posts... -->
    </div>
  </div>
</div>
