/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use 'assets/styles/variables' as *;

:root {
  --accent-color-blue: #{$color-blue-700};
}

// ========================================
// FONT
// ========================================
h1 {
  font-family: 'Playfair Display', serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
h4 {
  font-family: 'Lato', sans-serif;
  font-style: italic;
}
p {
  font-family: 'Lato', sans-serif;
}

// ========================================
// GENERAL
// ========================================
html, body {
  height: 100%;
  margin: 0;
  background-color: $color-white;
  color: $color-black;
}

body {
  display: flex;
  flex-direction: column;
}

.color-grey-dark {
  color: $color-grey-800;
}
.color-grey-medium {
  color: $color-grey-500;
}
.color-blue {
  color: $color-blue-700;
}
.color-white {
  color: $color-white;
}

.bg-blue-very-light {
  background-color: $color-blue-100;
}
.bg-blue-light {
  background-color: $color-blue-200;
}

.section-line {
  display: inline-block;
  position: relative;
  padding-bottom: 30px;
}

.section-line::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: 0;
  width: 75px;
  height: 8px;
  background-color: $color-bronze-400;
}

// ========================================
// BUTTONS
// ========================================
.button-action {
  font-size: 0.875rem;
  align-items: center;
  background-color: $color-blue-700;
  border: 1.5px solid $color-blue-800;
  border-radius: .375rem;
  box-shadow: $color-blue-100 0 1px 3px 0;
  box-sizing: border-box;
  color: $color-white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  min-height: 2.2rem;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.button-action:hover,
.button-action:focus {
 box-shadow: $color-blue-200 0 4px 12px;
 color: $color-bronze-200;
}
.button-action:hover {
 transform: translateY(-1px);
}
.button-action:active {
 background-color: $color-blue-800;
 box-shadow: $color-blue-200 0 2px 4px;
 color: $color-bronze-200;
 transform: translateY(0);
}

// ========================================
// VISIBLE LINKS
// ========================================
.visible-link {
  color: $color-blue-700;
  text-decoration: underline;
  text-decoration-color: $color-blue-700;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: color 0.3s ease, text-decoration-color 0.3s ease;
}
.visible-link:hover {
  color: $color-blue-800;
  text-decoration-color: $color-blue-800;
}