// ========================================
// COLOR VARIABLES
// ========================================

// PRIMARY COLOR
$color-blue-800: #00347A;
$color-blue-700: #004AAD;
$color-blue-200: #ADD0FF;
$color-blue-100: #E0EDFF;

// SECONDARY COLOR
$color-bronze-600: #AD7235;
$color-bronze-400: #D4A574;
$color-bronze-200: #ECD7C2;

// GREY TONES
$color-grey-800: #455D7D;
$color-grey-500: #93A5BC;
$color-grey-300: #DAE0E8;
$color-grey-100: #ECF0F4;

// BACKGROUND COLOR
$color-white: #FAFBFC;

// TEXT COLOR
$color-black: #2C3E50;

// ALERT COLORS
$color-warning-dark: #7A4600;
$color-warning-light: #FFF2E0;
$color-success-dark: #16605E;
$color-success-light: #EAF3F2;
$color-error-dark: #7A0035;
$color-error-light: #FAE9EB;
